# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
.terraform/
crash.log
override.tf
override_*.tf

# Credenciales
*.json
!package.json
*.pem
*.key
.env

# Python
__pycache__/
*.pyc
venv/
.venv/
